@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");

:root {
  --black-color: #1a1a1a;
  --white-color: #ffffff;
  --light-silver-color: #d9d9d9;
  --bg-register-color: #e6e6e6;
  --sgo-btn: #3f3d3d;
}

* {
  font-family: Cabin, sans-serif;
  font-size: 16px;
}

body {
  /* background: linear-gradient(
    rgba(18 15 15 /80%),
    rgba(51, 51, 46, 60%),
    rgba(107 106 109 / 50%),
    rgba(51, 51, 46, 60%),
    rgba(18 15 15 / 80%)
  ); */
  background-image: url("../components/images/Cameroon-Sacred-Natural-Sites-and-Biodiversity.png");
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(15px);
}

.no-scroll {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px 10px;
  overflow: clip;

  @media screen and (max-width: 480px) {
    padding: 10px;
  }
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

/* Header section */

@import "../components/header/header";

.btn {
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.4;

  @media screen and (max-width: 480px) {
    font-size: 1.2rem;
  }
}

//Main section

.main {
  flex: 1;
  display: flex;

  /* background: linear-gradient(
    rgb(18, 15, 15),
    rgba(51, 51, 46, 0.59),
    rgb(107 106 109 / 64%),
    rgba(51, 51, 46, 0.59),
    rgb(18, 15, 15)
  ); */

  & .sign-in {
    display: flex;
    align-items: center;
    justify-content: center;

    /* left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%); */

    & .form-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      width: 200px;
      height: 500px;

      & .form {
        box-sizing: border-box;
        text-align: center;
        margin-top: 30px;

        & p {
          padding: 20px 0;
          font-size: 3rem;
          font-weight: 700;
          line-height: 1.2;
        }

        & p.error {
          padding: 0;
          font-size: 1rem;
          color: red;
          font-weight: 500;
        }
      }

      & .form-img {
        max-width: 160px;
        max-height: 160px;
      }
    }

    @media screen and (max-width: 480px) {
      .form-box {
        width: 100%;
        padding: 0 8px;
      }
    }

    @media screen and (max-width: 320px) {
      .form-box {
        width: 100%;
        padding: 0 8px;

        & .form-img {
          max-width: 200px;
          max-height: 200px;
        }
      }

      .brand {
        font-size: 1.4rem;
        text-wrap: wrap;
      }
    }
  }
}

.username-label {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.6;
  color: var(--black-color);
}

.username-input {
  box-sizing: border-box;
  width: 100%;
  margin: 20px 0;
  padding: 10px 10px;
  border-radius: 10px;
  border: 1px solid var(--light-silver-color);
  outline: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.4;
  color: var(--black-color);
}

.sgi-btn {
  text-decoration: none;
  width: 100%;
  padding: 15px 60px;
  background-color: var(--black-color);
  color: var(--white-color);
  cursor: pointer;
  margin: 20px 0;

  &:hover {
    background-color: var(--white-color);
    color: var(--black-color);
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none; /* Додатково вимкнемо можливість кліку на відключеній кнопці */
  }
}

/* Footer */

.footer {
  /* background-color: var(--black-color); */
  text-align: center;
}

.footer .container {
  margin: 0 auto;
}

.footer a {
  text-decoration: none;
  color: var(--light-silver-color);
}

.footer a:hover {
  color: var(--white-color);
}

.empty-page {
  text-align: center;
  width: 100%;
}
