@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");

:root {
  --black-color: #1a1a1a;
  --white-color: #ffffff;
  --light-silver-color: #d9d9d9;
  --bg-register-color: #e6e6e6;
  --sgo-btn: #3f3d3d;
}

* {
  font-family: Cabin, sans-serif;
  font-size: 16px;
}

body {
  background: linear-gradient(
    rgba(18 15 15 /80%),
    rgba(51, 51, 46, 60%),
    rgba(107 106 109 / 50%),
    rgba(51, 51, 46, 60%),
    rgba(18 15 15 / 80%)
  );
  background-size: contain;
  background-repeat: no-repeat;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  padding: 20px;
  overflow: clip;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

/* Header section */

.header {
  /* background-color: var(--black-color); */

  & .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    max-height: 60px;

    & .brand {
      text-decoration: none;
      color: var(--light-silver-color);
      font-weight: 600;
      font-size: 32px;
      line-height: 1.4;
      padding: 5px 0;

      &:hover {
        color: var(--white-color);
      }
    }
  }
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.nav-link {
  & img {
    padding: 0 5px 0 0;
    &:hover {
      transition: 0.3s all;
      transform: scale(1.4);
      padding: 0 10px 10px 0;
    }
  }

  & span {
    padding: 2px 8px;
    border-radius: 50%;
    background-color: var(--black-color);
    color: var(--light-silver-color);
  }
}

.btn {
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.4;
}

.sgo-btn {
  text-decoration: none;
  display: block;
  padding: 10px 28px;
  background-color: var(--light-silver-color);
  color: var(--black-color);
}

.sgo-btn:hover {
  background-color: var(--sgo-btn);
  color: var(--white-color);
}

.user-avatar {
  text-decoration: none;
  color: var(--light-silver-color);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.4;
  display: flex;
  align-items: center;
}

.user-avatar::before {
  content: "";
  background-image: url(../components/images/avatar.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 20px;
}

.user-avatar:hover {
  color: var(--white-color);
}

.main {
  flex: 1;
  display: flex;

  /* background: linear-gradient(
    rgb(18, 15, 15),
    rgba(51, 51, 46, 0.59),
    rgb(107 106 109 / 64%),
    rgba(51, 51, 46, 0.59),
    rgb(18, 15, 15)
  ); */

  & .sign-in {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%); */

    & .form-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      width: 200px;
      height: 500px;

      & .form {
        box-sizing: border-box;
        text-align: center;
        margin-top: 30px;
      }

      & .form-img {
        width: 160px;
        height: 160px;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .form-img {
    width: 200px;
    height: 200px;
  }

  .form-box {
    width: 100%;
    padding: 0 8px;
  }

  .brand {
    font-size: 1.4rem;
    text-wrap: wrap;
  }
}

.username-label {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.6;
  color: var(--black-color);
}

.username-input {
  box-sizing: border-box;
  width: 100%;
  margin: 20px 0;
  padding: 10px 10px;
  border-radius: 10px;
  border: 1px solid var(--light-silver-color);
  outline: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.4;
  color: var(--black-color);
}

.sgi-btn {
  text-decoration: none;
  width: 100%;
  padding: 15px 60px;
  background-color: var(--sgo-btn);
  color: var(--white-color);
  cursor: pointer;
  margin-bottom: 20px;

  &:hover {
    background-color: var(--light-silver-color);
    color: black;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none; /* Додатково вимкнемо можливість кліку на відключеній кнопці */
  }
}

/* Footer */

.footer {
  /* background-color: var(--black-color); */
  text-align: center;
}

.footer .container {
  margin: 20px auto 0;
}

.footer a {
  text-decoration: none;
  color: var(--light-silver-color);
}

.footer a:hover {
  color: var(--white-color);
}
