.specific-book {
  margin: 50px 0 20px;
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px 0;
  justify-content: space-between;

  &__container {
    display: flex;
    flex-wrap: wrap;
    width: 66.6%;

    @media screen and (max-width: 480px) {
      width: 100%;
    }
  }

  &__image {
    width: 50%;
    text-align: center;
    padding: 0 40px 20px;
    box-sizing: border-box;

    & img {
      max-width: 100%;
      height: auto;
      border-radius: 20px;
      box-shadow: 4px 4px 15px 4px black;

      &:hover {
        box-shadow: 0 0 10px 5px black;
      }
    }
  }

  &__info {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;

    & li {
      font-size: 1.2rem;
      line-height: 1.3;
      color: var(--light-silver-color);
    }
  }

  &__title {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1.2;
    margin: 0 0 20px 0;
    color: var(--black-color);
    text-align: center;
  }

  &__desc {
    flex-grow: 1;
    margin: 20px 0 0;

    &-info {
      font-size: 1.2rem;
      line-height: 1.4;
      color: var(--light-silver-color);
    }
  }

  @media screen and (max-width: 480px) {
    & {
      flex-direction: column;
      align-items: center;
      padding: 0;
      margin-top: 30px;

      &__image,
      &__info {
        width: 100%;
      }

      &__image {
        & img:hover {
          transform: scale(1);
        }
      }

      &__info {
        padding-bottom: 20px;
        & li {
          font-size: 1rem;
          line-height: 1.3;
          color: var(--light-silver-color);
        }
      }

      &__title {
        font-size: 1.8rem;
        margin: 0;
      }
    }
  }
}

.book-cart {
  width: 250px;
  height: 220px;
  border: 3px dotted var(--black-color);
  border-radius: 20px;

  &__list {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & span {
      font-size: 1.2rem;
      line-height: 1.4;
      display: flex;
      gap: 5px;
    }
  }

  &__item {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.4;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__count {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  & input[type="number"],
  .btn-count {
    padding: 4px 6px;
    text-align: center;
    border-radius: 10px;
  }

  & input[type="number"] {
    width: 50px;
    font-size: 1.5rem;
  }

  @media screen and (max-width: 480px) {
    & {
      width: 100%;
      height: 100%;

      &__list {
        gap: 10px;
      }

      &__count {
        justify-content: center;
      }

      & input[type="number"] {
        width: 80px;
      }

      & input[type="number"],
      .btn-count {
        padding: 10px 15px;
        text-align: center;
        border-radius: 10px;
      }
    }
  }
}

.btn-count {
  background-color: var(--white-color);

  &:hover {
    background-color: var(--light-silver-color);
  }
}

.btn-box {
  display: flex;
  justify-content: flex-end;

  & .btn-add {
    padding: 5px 10px;
    background-color: var(--sgo-btn);
    color: var(--white-color);
    cursor: pointer;

    &:hover {
      background-color: var(--light-silver-color);
      color: black;
    }
  }

  @media screen and (max-width: 480px) {
    & {
      margin-top: 0;

      & .btn-add {
        padding: 10px 20px;
      }
    }
  }
}
