.header {
  width: 100%;
  display: flex;
  padding: 0 20px;
  height: 50px;
  z-index: 1;
  align-items: center;

  @media screen and (max-width: 480px) {
    position: sticky;
    top: 20px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  & .brand {
    text-decoration: none;
    color: var(--black-color);
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.4;
    padding: 5px 0;

    &:hover {
      color: var(--white-color);
    }

    @media screen and (max-width: 480px) {
      font-size: 1.25rem;
    }
  }

  .nav {
    &__list {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;
      padding: 0;
      list-style-type: none;
      margin: 0;
    }

    &__link {
      transition: 0.4s all ease-in-out;
      & img {
        padding: 0 5px 0 0;
      }

      & span {
        text-align: center;

        padding: 2px 6px;
        border-radius: 50%;
        background-color: var(--black-color);
        color: var(--light-silver-color);
      }

      &:hover {
        transition: 0.4s all ease-in-out;
        transform: scale(1.6);
      }
    }

    .sgo-btn {
      text-decoration: none;
      display: block;
      padding: 10px 28px;
      background-color: var(--black-color);
      color: var(--light-silver-color);
    }

    .sgo-btn:hover {
      background-color: var(--white-color);
      color: var(--sgo-btn);
    }

    .user-avatar {
      text-decoration: none;
      color: var(--black-color);
      font-weight: 500;
      font-size: 24px;
      line-height: 1.4;
      display: flex;
      align-items: center;
    }

    .user-avatar::before {
      content: "";
      background-image: url(../images/avatar.png);
      background-size: contain;
      background-repeat: no-repeat;
      width: 40px;
      height: 40px;
      display: inline-block;
      margin-right: 20px;
    }

    .user-avatar:hover {
      color: var(--light-silver-color);
    }
  }

  @media screen and (max-width: 480px) {
    .nav {
      position: absolute;
      top: -20px;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: var(--light-silver-color);
      border: 2px solid var(--black-color);
      border-radius: 16px;
      box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.25);
      transition: transform 0.5s linear;
      transform: translateX(0);
      z-index: 999;
      display: flex;
      justify-content: center;

      &.active {
        transform: translateX(-150%);
      }

      &__list {
        display: flex;
        gap: 50px;
        flex-direction: column-reverse;
      }

      &__link {
        order: 1;
        position: relative;

        & img {
          width: 100px;
          height: 100px;
          padding: 0;
          transition: 0.4s all ease-in-out;
          margin-top: 10px;
          &:hover {
            transform: scale(1.6);
          }
        }

        & span {
          padding: 6px 10px;
          position: absolute;
          top: -25px;
          left: 25%;
          font-size: 2rem;
        }
      }

      .user-avatar {
        font-weight: 700;
        font-size: 2rem;
        flex-direction: column;
        gap: 20px;
      }

      .user-avatar::before {
        margin: 0;
        width: 100px;
        height: 100px;
      }

      .sgo-btn {
        padding: 16px 50px;
      }
    }
  }

  .header__menu-btn {
    display: none;

    @media screen and (max-width: 480px) {
      & {
        display: block;
        width: 32px;
        height: 32px;
        background-color: transparent;
        padding: 0;
        z-index: 999;
      }
    }
  }
}
