.hidden {
  display: none;
}

.book {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
  box-sizing: border-box;

  @media screen and (max-width: 480px) {
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
  }
}

.book__search {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 5px 5px;
  border: 1px solid black;
  border-radius: 10px;
  max-width: 100%;
  background: transparent;
}

input[type="search"] {
  max-width: 100%;
  padding: 5px 5px;
  border: none;
  background: transparent;

  &::placeholder {
    color: var(--black-color);
  }
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.book__search input[type="search"]:focus,
.book__select select:focus {
  outline: none;
}

.book__search button {
  background: none;
  border: none;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.book__select select {
  padding: 10px 20px;
  border-radius: 10px;
  max-height: 40px;
  font-size: 16px;
  border: none;
  background: transparent;
  border: 1px solid black;
  color: var(--black-color);
}

.books__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: 50px;
  column-gap: 40px;
  padding: 0;
  margin: 50px auto;
  max-width: 1200px;

  @media screen and (max-width: 480px) {
    row-gap: 10px;
    column-gap: 10px;
    margin: 20px 0;
  }
}

.books__none {
  width: 100%;
  display: flex;
  justify-content: center;

  & p {
    font-size: 1.6rem;
    font-weight: 500;
  }
}

.book-card {
  box-sizing: border-box;
  width: 200px;
  height: 300px;
  padding: 5px 15px;
  border: 1px solid black;
  border-radius: 25px;
  list-style-type: none;
  background-color: var(--light-silver-color);
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__card:hover {
    transition: 1s all;
    transform: scale(1.2);
  }

  &__desc {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;

    & .book-card__image {
      margin: 0 auto 10px;
      border-radius: 10px;
      width: 150px;
      height: 180px;
      object-fit: cover;
    }

    & .book-card__title,
    & .book-card__author {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    & .book-card__title {
      font-size: 1.1rem;
      font-weight: 500;
      letter-spacing: 0.05rem;
    }

    & .book-card__author {
      font-size: 0.7rem;
      letter-spacing: 0.1rem;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__price {
  }

  @media screen and (max-width: 480px) {
    & {
      width: 170px;

      &__desc {
        & .book-card__image {
          width: 100%;
        }
      }
    }
  }

  @media screen and (max-width: 320px) {
    & {
      width: 230px;
      height: 350px;

      &__desc {
        & .book-card__image {
          height: 250px;
        }
      }
    }
  }
}

.view__btn {
  text-decoration: none;
  padding: 5px 15px;
  border-radius: 10px;
  background-color: var(--sgo-btn);
  color: var(--white-color);
}

.view__btn:hover {
  background-color: var(--white-color);
  color: var(--black-color);
  border: 1px solid var(--black-color);
}
